---
interface Props{
    classlist:string[];
    link:string;
    popup:string;
    contenido:string;

}
const {link, popup, contenido, classlist}=Astro.props
---
<!-- <a href="https://google.com" title="Enlace a Google" value="Google"></a>-->
  <a class:list={classlist} href={link} title={popup}><h2>{contenido}</h2></a>
 <!-- <a class:list={[["link-card"], ['bg-color transicion'], {box:true}]} href={link} title={popup}><h2>{contenido}</h2></a>-->
 <style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
    .bgcolor{
        background-color: #ffe11b;
    }
    .transicion{
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    .box{
        box-shadow: inset 0 0 0 1px rgb(58, 157, 8);
    }
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>